<footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s1">
          <h5 class="white-text">About Vexio</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


        </div>
        <div class="col l3 s1">
          <h5 class="white-text">Miscellaneous</h5>
          <ul>
            <li><a class="white-text" href="#!">Privacy Policy</a></li>
            <li><a class="white-text" href="#!">Terms of Service</a></li>
            <li><a class="white-text" href="mailto:projectvexio@gmail.com">Mail: projectvexio@gmail.com</a></li>
            
          </ul>
        </div>
        <div class="col l3 s1">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="http://instagram.com/vexio.in"><i class="fa fa-instagram" aria-hidden="true"></i> Instagram</a></li>
            <li><a class="white-text" href="http://twitter.com/vexio8"><i class="fa fa-twitter" aria-hidden="true"></i>Twitter</a></li>
            <li><a class="white-text" href="http://linkedin.com/in/">LinkedIN</a></li>
            <li><a class="white-text" href="http://github.com/">Github</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="http://vexio.in">Vexio</a>
      </div>
    </div>
  </footer>
