{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <!-- Compiled and minified CSS -->
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

       <!-- Compiled and minified JavaScript -->
       <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
               
    <title>Thapar App</title>
</head>
<body>
    <div>
        
  <nav>
    <div class="nav-wrapper" , style='background-color: rgb(44, 48, 85);'>
      <div style="padding-left: 20px;"><a href="#" class="brand-logo">Hashx</a></div>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
      </ul>
    </div>
  </nav>
        
    </div>
    <div>
        {% block content %}{% endblock %}
    </div>
</body>
</html>