{% extends "users/base.html" %}

{% block content %}
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">Welcome Instructors of TIET</h1>
      <div class="row center">
        <h5 class="header col s12 light">A modern web aplication for you to manage your classes</h5>
        <h5 class="header col s12 light">Built by thaparites for thaparites</h5>
      </div>
      <div class="row center">
        <a href="{% url 'instructor-signup' %}" id="download-button" class="btn-large waves-effect waves-light orange">Register ?</a>
      </div>
      <br><br>
    </div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Speeds up Studies</h5>

            <p class="light">The Problem with current LMS is quite evident to users from all walks of life thapar that the experince for teache's is problematic and unmanageable and fragmented</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Very TIET Focused Solution</h5>

            <p class="light">After Seeing a lot of LMS we realised Thapar Institute has it's own specefic needs and criteria for handling classes and events for campus so we designed this one stop application for everything we found neccesary for our campus</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Easy to use</h5>
            <p class="light">We have brainstormed months before deplying this application and thought of so many edge cases that users with have problems will have problem with so here is our first release with most of the problems solved and ease of use kept in mind</p>
          </div>
        </div>
      </div>

    </div>
    <br><br>
  </div>
{% endblock content %}