{% extends "./base.html" %}

{% block content %}
    <div class="container">
        <form method="POST" , style="padding-top: 40px">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend >Join Today</legend>
                {{ form.as_p }}
            </fieldset>
            <div style="padding-top:20px" ,>
                <button class="btn waves-effect waves-light" , style="background-color: rgb(74, 85, 235)" ,type="submit">Submit</button>
            </div>
        </form>
    </div>

{% endblock content %}