.sidebar {
  height: 100%;
  width: 85px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #ffffff;
  transition: 0.5s;
  overflow-x: hidden;
  padding-top: 20px;
  white-space: nowrap;
}

.sidebarRight {
  height: 100%;
  width: 260px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #ffffff;
  transition: 0.5s;
  overflow-x: hidden;
  padding-top: 20px;
  white-space: nowrap;
}
@media only screen and (max-width: 1000px) {
  .sidebar {
    display: none;
  }
}

@media only screen and (max-width: 1000px) {
  .sidebarRight {
    display: none;
  }
}
.sidebar:hover {
  width: 250px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.heading {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidebar a:hover {
  color: #4c1aaf;
}
.sidebar a:active {
  color: #4c1aaf;
}

main .sidebar {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.material-icons,
.icon-text {
  vertical-align: middle;
}
.icon-text1 {
  color: #818181;
}

.material-icons {
  padding-bottom: 3px;
  margin-right: 30px;
}

#main {
  padding: 16px;
  margin-left: 85px;
  transition: margin-left 0.5s;
}

@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}
