body,
html {
  margin: 0;
  border: 0;
  padding: 0;
  overflow-x: none;
}

.landing-root {
  overflow-x: hidden;
  height: 100vh;

  background: #f1faee;
}

.card {
  /* position: inherit; */
  box-shadow: rgba(0, 0, 0, 0.1) 2px 5px 27px !important;
}

.deck {
  position: absolute;
  cursor: grab;
  left: 50%;
  top: 50%;
}
