aniso8601==7.0.0
apns2==0.7.1
appdirs==1.4.3
asgiref==3.2.7
astroid==2.4.0
autopep8==1.5.2
beautifulsoup4==4.9.1
boto3==1.14.29
botocore==1.17.29
certifi==2020.6.20
cffi==1.14.0
cfgv==3.1.0
chardet==3.0.4
colorama==0.4.3
cryptography==2.9.2
defusedxml==0.6.0
distlib==0.3.0
dj-environ==0.0.1
Django==3.0.14
django-allauth==0.42.0
django-analytical==2.6.0
django-appconf==1.0.4
django-axes==5.4.1
django-cors-headers==3.4.0
django-debug-toolbar==2.2
django-environ==0.4.5
django-extensions==2.2.9
django-filter==2.2.0
django-graphiql-debug-toolbar==0.1.4
django-graphql-extensions==0.0.7
django-graphql-geojson==0.1.4
django-graphql-jwt==0.3.1
django-graphql-social-auth==0.1.4
django-imagekit==4.0.2
django-ipware==3.0.0
django-model-utils==4.0.0
django-push-notifications==2.0.0
django-rest-framework==0.1.0
django-storages==1.9.1
django-user-sessions==1.7.1
djangorestframework==3.11.0
docutils==0.15.2
filelock==3.0.12
graphene==2.1.8
graphene-django==2.9.1
graphql-core==2.3.1
graphql-relay==2.0.1
h2==2.6.2
hpack==3.0.0
http-ece==1.1.0
hyper==0.7.0
hyperframe==3.2.0
identify==1.4.15
idna==2.10
importlib-metadata==1.6.0
inflection==0.3.1
isort==4.3.21
jmespath==0.10.0
lazy-object-proxy==1.4.3
mccabe==0.6.1
nodeenv==1.3.5
oauthlib==3.1.0
pilkit==2.0
Pillow==7.1.1
pre-commit==2.3.0
promise==2.3
psycopg2==2.8.5
py-vapid==1.7.1
pycodestyle==2.5.0
pycparser==2.20
PyJWT==1.7.1
pylint==2.5.0
pylint-django==2.0.15
pylint-plugin-utils==0.6
python-dateutil==2.8.1
python-decouple==3.3
python3-openid==3.2.0
pytz==2019.3
pywebpush==1.11.0
PyYAML==5.3.1
requests==2.24.0
requests-oauthlib==1.3.0
Rx==1.6.1
s3transfer==0.3.3
singledispatch==3.4.0.3
six==1.14.0
social-auth-app-django==4.0.0
social-auth-core==3.3.3
soupsieve==2.0.1
sqlparse==0.3.1
toml==0.10.0
typed-ast==1.4.1
urllib3==1.25.9
virtualenv==20.0.18
wrapt==1.12.1
xlrd==1.2.0
zipp==3.1.0
