.socialLink {
  text-decoration: none;
  color: #000000;
  width: fit-content;
}
.socialLink:hover {
  color: #000000;
  text-decoration: underline;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .socialLink {
    font-size: 20px;
  }
}
